# {{ ansible_managed }}

configure lldp portidsubtype ifname
{% if snmp_location is defined %}
configure system location "{{ snmp_location }}"
{% endif %}
{% if snmp_contact is defined %}
configure system description "{{ snmp_contact }}"
{% endif %}
