# {{ ansible_managed }}

configure lldp portidsubtype ifname
{% set _location = snmp_location | default('') %}
{% if _location %}
configure system location "{{ _location }}"
{% endif %}
{% if snmp_contact is defined %}
configure system description "{{ snmp_contact }}"
{% endif %}
