# {{ ansible_managed }}

{% if snmp_rocommunity is defined and snmp_source is defined %}
{% for line in snmp_source %}
rocommunity {{ snmp_rocommunity }} {{ line }}
{% endfor %}
{% elif snmp_rocommunity is defined %}
rocommunity {{ snmp_rocommunity }}
{% endif %}
{% if snmp_rocommunity is defined and snmp_source6 is defined %}
{% for line in snmp_source6 %}
rocommunity6 {{ snmp_rocommunity }} {{ line }}
{% endfor %}
{% endif %}



maxGetbulkResponses {{ snmp_max_getbulk_responses }}
createUser {{ snmp_user }} SHA {{ snmp_password }} AES {{ snmp_encryption }}

rouser {{ snmp_user }} priv
{% if ansible_default_ipv4.address is defined %}
agentAddress  {{ snmp_agentadress_protocol.ipv4 }}:{{ snmp_agentadress_port.ipv4 }}
{% endif %}
{% if ansible_default_ipv6.address is defined %}
agentAddress {{ snmp_agentadress_protocol.ipv6 }}:{{ snmp_agentadress_port.ipv6 }}
{% endif %}
# Loopback


{% if snmp_location is defined %}
sysLocation {{ snmp_location }}
{% endif %}
sysName {{ ansible_fqdn }}
{% if snmp_contact is defined %}
sysContact {{ snmp_contact }}
{% endif %}
sysServices {{ snmp_sys_services }}

storageUseNFS {{ snmp_storage_use_nfs }}
skipNFSInHostResources {{ snmp_skip_nfs_in_host_resources | ternary('true', 'false') }}
includeAllDisks {{ snmp_include_all_disks }}
diskio_exclude_fd {{ snmp_diskio_exclude_fd | ternary('yes', 'no') }}
diskio_exclude_loop {{ snmp_diskio_exclude_loop | ternary('yes', 'no') }}
diskio_exclude_ram {{ snmp_diskio_exclude_ram | ternary('yes', 'no') }}
{% if snmp_include_ifmib_iface_prefix | length > 0 %}
include_ifmib_iface_prefix {{ snmp_include_ifmib_iface_prefix | join(' ') }}
{% endif %}

{% if snmp_custom_line is defined %}
{% for line in snmp_custom_line %}
{{ line }}
{% endfor %}
{% endif %}

{% for item in snmp_extension_list %}
extend {{ item.extend }}
{% endfor %}

{% for item in snmp_extension_os_hw_serie %}
extend {{ item }}
{% endfor %}

{% if "pve" in ansible_kernel %}
extend proxmox {{ snmp_extension_scripts }}/proxmox
{% endif %}

{% if snmp_agentx_enabled %}
master agentx
{% if snmp_deamon_group is defined %}
agentXPerms {{ snmp_agentx_socket_perms }} {{ snmp_agentx_dir_perms }} {{ snmp_agentx_user }} {{ snmp_deamon_group }}
{% endif %}
{% endif %}
